<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div class="main-container">
    <h1>Welcome to KWEZAP!</h1>
    <h2>quizzes created by other users!</h2>
    <div class="links-container">
      <% for (let quiz of quizzes) {%>
        <div class="quiz-link">
          <%= quiz.title %>
          <br>
          <p><%= quiz.description %></p>
        </div>
      <br>
      <%}%>
    </div>
  </div>
</body>

</html>